<div class="row">
    <div class="col-md-6">
        <form role="form" name="form">
            <div class="input-group input-group-lg" ng-class="{'has-error': form.host.$invalid && form.host.$dirty}">
                <span class="input-group-addon" ng-click="vm.isHostnameExpanded = !vm.isHostnameExpanded">Hostname &nbsp; <i class="fa fa-plus-square-o"></i></span>
                <input type="text" class="form-control" id="hostnameInput" name="host" data-content="Please enter the instance hostname. Port can be specified using the <hostname>:<port> format. Expand to change hostspec." rel="popover" data-placement="bottom" data-trigger="hover" data-container="body" ng-model="vm.inputHost" ng-change="vm.updateHost()" ng-model-options="{ updateOn: 'default', debounce: 1000 }" delay="1000" ng-disabled="flags.contextUpdating == true" required placeholder="Instance Hostname">
                <i class="fa fa-refresh fa-2x form-control-feedback" ng-if="flags.contextUpdating"></i>
                <i class="fa fa-check fa-2x form-control-feedback" ng-if="flags.contextAvailable"></i>
            </div>
        </form>
    </div>
    <div class="btn-group col-md-2" id="widgetWrapper">
        <button id="widgetButton" type="button" class="dropdown-toggle btn btn-lg btn-default btn-block" data-toggle="dropdown">Widget <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-submenu" ng-repeat="group in widgetDefs | groupBy: 'group'">
                <a ng-click="void(0)"  data-toggle="dropdown">{{group}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="widget in widgetDefs | groupFilter: group">
                        <a href="#" ng-click="addWidgetInternal($event, widget);">{{widget.title}}</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="divider"></li>
            <li>
                <a href="javascript:void(0);"
                   ng-click="loadWidgets(defaultWidgets);">Default Widgets</a></li>
            <li>
                <a href="javascript:void(0);"
                   ng-click="loadWidgets(emptyWidgets);">Clear</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <form role="form">
            <div class="input-group input-group-lg" ng-class="{'has-error': form.window.$invalid && form.window.$dirty}" style="border-radius: 6 !important;">
                <span class="input-group-addon">Window</span>
                <select class="form-control" name="window" id="windowInput" data-content="The duration window for all charts in this dashboard." rel="popover" data-placement="bottom" data-trigger="hover" data-container="body" ng-model="properties.window" ng-change="vm.updateWindow()" style="border-radius: 6 !important;">
                    <option value="2">2 min</option>
                    <option value="5">5 min</option>
                    <option value="10">10 min</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <form role="form">
            <div class="input-group input-group-lg" ng-class="{'has-error': form.interval.$invalid && form.interval.$dirty}">
                <span class="input-group-addon">Interval</span>
                <select class="form-control" name="interval" id="intervalInput" data-content="The update interval used by all charts in this dashboard." rel="popover" data-placement="bottom" data-trigger="hover" data-container="body" ng-model="properties.interval" ng-change="vm.updateInterval()">
                    <option value="1">1 sec</option>
                    <option value="2">2 sec</option>
                    <option value="3">3 sec</option>
                    <option value="5">5 sec</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="vm.isHostnameExpanded">
    <div class="col-md-6">
        <form role="form" name="form">
            <div class="input-group input-group-lg" ng-class="{'has-error': form.hostspec.$invalid && form.hostspec.$dirty}">
                <span class="input-group-addon">Hostspec&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="form-control" id="hostspecInput" name="host" data-content="Please enter the instance hostspec." rel="popover" data-placement="bottom" data-trigger="hover" data-container="body" ng-model="properties.hostspec" ng-change="vm.updateHost()" ng-model-options="{ updateOn: 'default', debounce: 1000 }" delay="1000" ng-disabled="flags.contextUpdating == true" required placeholder="Instance Hostspec">
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <p class="lead" id="hostnameLabel" data-content="PMCD hostname. The hostname from the actual instance you're monitoring." rel="popover" data-placement="bottom" data-trigger="hover" data-container="body">{{flags.contextAvailable && properties.hostname ? properties.hostname : 'Disconnected'}}</p>
    </div>
</div>
<div id="alert-dashboard-error" flash-alert="error" active-class="in alert" class="fade">
    <strong class="alert-heading">Error!</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" ng-if="!options.hideToolbar">
            <div class="btn-group" ng-if="!options.widgetButtons">
                <button type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Add Widget <span
                        class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="widget in widgetDefs">
                        <a href="#" ng-click="addWidgetInternal($event, widget);"><span class="label label-primary">{{widget.name}}</span></a>
                    </li>
                </ul>
            </div>

            <div class="btn-group" ng-if="options.widgetButtons">
                <button ng-repeat="widget in widgetDefs"
                        ng-click="addWidgetInternal($event, widget);" type="button" class="btn btn-primary">
                    {{widget.name}}
                </button>
            </div>

            <button class="btn btn-warning" ng-click="resetWidgetsToDefault()">Default Widgets</button>

            <button ng-if="options.storage && options.explicitSave" ng-click="options.saveDashboard()" class="btn btn-success" ng-disabled="!options.unsavedChangeCount">{{ !options.unsavedChangeCount ? "all saved" : "save changes (" + options.unsavedChangeCount + ")" }}</button>

            <button ng-click="clear();" type="button" class="btn btn-info">Clear</button>
        </div>

        <div ui-sortable="sortableOptions" ng-model="widgets" class="dashboard-widget-area">
            <div ng-repeat="widget in widgets" ng-style="widget.containerStyle" class="widget-container" widget>
                <div class="widget panel panel-default">
                    <div class="widget-header panel-heading">
                        <h3 class="panel-title">
                            <span class="widget-title">{{widget.title}}</span>
                            <!-- <span class="widget-title" ng-dblclick="editTitle(widget)" ng-hide="widget.editingTitle">{{widget.title}}</span> -->
                            <!-- <form action="" class="widget-title" ng-show="widget.editingTitle" ng-submit="saveTitleEdit(widget)">
                                <input type="text" ng-model="widget.title" class="form-control">
                            </form> -->
                            <span class="label label-primary" ng-if="!options.hideWidgetName">{{widget.name}}</span>
                            <span ng-click="removeWidget(widget);" class="glyphicon glyphicon-remove" ng-if="!options.hideWidgetClose"></span>
                            <span ng-click="openWidgetSettings(widget);" class="glyphicon glyphicon-cog" ng-if="!options.hideWidgetSettings"></span>
                        </h3>
                    </div>
                    <div class="panel-body widget-content" ng-style="widget.contentStyle"></div>
                    <div class="widget-ew-resizer" ng-mousedown="grabResizer($event)"></div>
                    <div ng-if="widget.enableVerticalResize" class="widget-s-resizer" ng-mousedown="grabSouthResizer($event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict';
        $('#hostnameInput').popover();
        $('#hostspecInput').popover();
        $('#windowInput').popover();
        $('#intervalInput').popover();
        $('#hostnameLabel').popover();
    }());
</script>
